<div class="social">
{% if site.author.twitter or site.author.facebook or site.author.instagram or site.author.github != '' %}
<ul class="social-icons">
  <li class="social-icon-items"><a href="https://twitter.com/{{ site.author.twitter }}"><i class="fa fa-twitter"></i></a></li>
  <li class="social-icon-items"><a href="https://facebook.com/{{ site.author.facebook }}"><i class="fa fa-facebook-official"></i></a></li>
  <li class="social-icon-items"><a href="https://instagram.com/{{ site.author.instagram }}"><i class="fa fa-instagram"></i></a></li>
  <li class="social-icon-items"><a href="https://github.com/{{ site.author.github }}"><i class="fa fa-github-alt"></i></a></li>
</ul>
{% else %}
{% endif %}
</div>
<div class="copyright">
{{ site.copyright.notice }}
{{ site.copyright.disclaimer }}
</div>
