<div class="social">
{% if site.author.twitter or site.author.facebook or site.author.instagram or site.author.github %}
<ul class="social-icons">
  <li class="social-icon-items"><a href="{{ site.author.twitter }}"><i class="fa fa-twitter"></i></a></li>
  <li class="social-icon-items"><a href="{{ site.author.facebook }}"><i class="fa fa-facebook-official"></i></a></li>
  <li class="social-icon-items"><a href="{{ site.author.instagram }}"><i class="fa fa-instagram"></i></a></li>
  <li class="social-icon-items"><a href="{{ site.author.github }}"><i class="fa fa-github-alt"></i></a></li>
</ul>
{% else %}
{% endif %}
</div>
