---
---

@import "{{ site.theme }}";
.page-header {
    color: #fff;
    text-align: center;
    background-color: #00d4bc;
    background-image: linear-gradient(120deg, #007777, #00d4bc);
}
.main-content p img {
    text-align: center;
}
